<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <link th:href="@{/list.css}" rel="stylesheet">
    <script th:src="${jquery}"></script>
</head>
<body>
<h1>Books:</h1>

<table class="books">
    <thead>
    <tr>
        <th class="col-title">Title</th>
        <th class="col-genre">Genre</th>
        <th class="col-authors">Authors</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="pages"></div>
<script type="text/javascript" th:src="@{/list.js}"></script>
</body>
</html>
