<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit book</title>
    <link th:href="@{/header.css}" rel="stylesheet">
    <link th:href="@{/edit.css}" rel="stylesheet">
    <script type="text/javascript">
        function validateInputs() {
            var val1 = document.getElementById('title-input').value;
            var val2 = document.getElementById('genre-input').value;
            var val3 = document.getElementById('authors-input').value;
            document.getElementById('save').disabled = val1.length == 0 || val2.length == 0 || val3.length == 0;
        }
    </script>
</head>
<header th:insert="header.html :: header"></header>

<body onload="validateInputs()">

<form id="edit-form" th:action="@{/save}" th:method="post" action="edit.html">
    <h1 th:if="${book.id} != null">Edit Book:</h1>
    <h1 th:if="${book.id} == null">New Book:</h1>
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${book.id}" value="TheID"/>
    </div>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${book.title}" value="TheTitle"
               oninput="validateInputs()"/>
    </div>
    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre" type="text" th:value="${book.genre}" value="TheGenre"
               oninput="validateInputs()"/>
    </div>
    <div class="row">
        <label for="authors-input">Authors:</label>
        <input id="authors-input" name="authors" type="text"
               th:value="${book.authors}" value="TheAuthors" oninput="validateInputs()"/>
    </div>
    <input type="hidden" name="page" th:value="${page}"/>
    <div class="row">
        <button id="save" type="submit">Save</button>
        <a id="cancel" th:href="@{/books(page=${page})}" href="list.html">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
