<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Books</title>
    <link th:href="@{/header.css}" rel="stylesheet">
    <link th:href="@{/list.css}" rel="stylesheet">
</head>
<body>
<header th:insert="header.html :: header"></header>

<h1>Books:</h1>
<div sec:authorize="hasRole('ROLE_ADMIN')" class="top">
    <a class="active" th:href="@{/create}" href="edit.html">(new)</a>
</div>
<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th class="col-title">Title</th>
        <th class="col-genre">Genre</th>
        <th class="col-authors">Authors</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b: ${books}">
        <td th:text="${b.id}">TheID</td>
        <td th:text="${b.title}">TheTitle</td>
        <td th:text="${b.genre}">TheGenre</td>
        <td th:text="${b.authors}">TheAuthors</td>
        <td>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="@{/edit/__${b.id}__(page=${page})}" href="edit.html">(edit)</a>
        </td>
        <td>
            <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{delete(page=${page})}" method="post">
                <input type="hidden" name="id" th:value="${b.id}"/>
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${pages.size() > 1 || books.isEmpty()}" class="pagination" th:each="p : ${pages}">
    <a th:href="@{/books(page=${p})}" th:text=${p} th:class="${p==page} ? active"></a>
</div>
</body>
</html>
