<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
        .pagination, .top {
            display: inline-block;
        }
        .pagination a, .top a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
        a.active {
            background-color: #4CAF50;
            color: white;
        }
        a:hover:not(.active) {
            background-color: #ddd;
        }
        .col-title {
            width: 500px;
        }
        .col-genre {
            width: 300px;
        }
        .col-authors {
            width: 400px;
        }
    </style>
</head>
<body>
<h1>Books:</h1>

<div class="top" th:if="${books.size() != 1 || books.get(0)[0] != -1}">
    <a class="active" th:href="@{/create}" href="edit.html">(new)</a>
</div>
<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th class="col-title">Title</th>
        <th class="col-genre">Genre</th>
        <th class="col-authors">Authors</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b: ${books}">
        <td th:text="${b[0]}">TheID</td>
        <td th:text="${b[1]}">TheTitle</td>
        <td th:text="${b[2]}">TheGenre</td>
        <td th:text="${b[3]}">TheAuthors</td>
        <div th:if="${b[0]} != -1">
            <td>
                <a th:href="@{/edit/__${b[0]}__(page=${page})}" href="edit.html">(edit)</a>
            </td>
            <td>
                <form th:action="@{delete(page=${page})}" method="post">
                    <input type="hidden" name="id" th:value="${b[0]}"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </div>
        <div th:if="${b[0]} == -1">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </div>
    </tr>
    </tbody>
</table>
<div th:if="${pages.size() > 1 || books.isEmpty()}" class="pagination" th:each="p : ${pages}">
    <a th:href="@{/books(page=${p})}" th:text=${p} th:class="${p==page} ? active"></a>
</div>
</body>
</html>
