body {
    padding: 50px;
}
.books, .books td {
    border: 1px solid lightgray;
    padding: 5px;
}
.pagination, .top {
    display: inline-block;
}
.pagination a, .top a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
a.active {
    background-color: #4CAF50;
    color: white;
}
a:hover:not(.active) {
    background-color: #ddd;
}
.col-title {
    width: 500px;
}
.col-genre {
    width: 300px;
}
.col-authors {
    width: 400px;
}